<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <h2 style="color: chocolate;">Game Overflow</h2>
        <h3>Verify your email</h3>
        <p>Hi <%= name %>,</p>
        <p> You’re almost there. Just tap the email verification button below to complete setting up your GameOverflow account.</p>
        <a href=<%= link %>>Verify Email</a>
        <h6>We’re thrilled to welcome you.</h6>

        <div>
            <h4>Cheers,</h4>
            <h4>Team GameOverflow</h4>
        </div>
    </body>
</html>